@CHARSET "UTF-8";

@font-face { font-family: 'arita', src:url(./fonts/AritaDotumMedium.eot)};
@font-face { font-family: 'arita', src:url(./fonts/AritaDotumMedium.woff)};
@media all and ( min-width: 1920px ) {
 	 html, body {
		min-height: 1080px;
	}
}
@media all and ( min-width: 480px ) {
	html, body {
		min-height: 740px;
	}
}
html, body {
	width: 100%;
  height: 100%;
}
}
body {
  font-family: '아리따-돋움(TTF)', aritadm, arial, sans-serif;
  width: 100%;
  height: 100%;
}
.navbar {
  background-color: white;
  margin: 0;
  font-weight: bold;
}
.collapse {
  margin: 3px 0 ;
}
.menu {
  font-size: 2vmin;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}
#navMenu {
  width: 70%;
}
#navMenu a:hover, #loginMenu a:hover {
  color : #0070af;
}
#loginMenu {
}
#loginMenu a {
  width:80px;
}
.nav li {
  padding: 0 1%;
}
.middle {
  width: 100%;
  height: 70%;
}
.m_img1, .m_img2 {
  width: 100%;
  height: 50%;

}
.m_img1 h1, .m_img2 h1 {
	color: white;
	margin-left:30%;
	position: absolute;

	font-size: xx-large;
}
.m_img1 img, .m_img2 img {
  width: 100%;
  height: 100%;

  display: block;
  margin-bottom: 0px;
  padding: 0px;

}
footer {
  width: 100%;
  height: 20%;
  background-color: #34464b;
  color: white;
}
