@charset "utf-8";

html,body{
	height: 100%;
	overflow: hidden;
	scroll:auto;
}

/*bTop 상단 메뉴 부분*/
#bTop {
	height: 10%;
	width: 100%;
	/* background-color: green; nav에 가려서 안보인다 */
	text-align: center;
}

nav{
	width: 100%;
	height: 100%;
	background-color: white;
	vertical-align: middle;
	text-align: center;
}

nav ul{
	margin : auto;
	margin-top : 1em;
	width: 90%;
	height : 70%;
	background-color: gold;
	vertical-align: middle;
	text-align: center;
}

.menu li {
	margin : auto;
	margin-top : 100px;
	display: inline;
	background-color: yellow;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

.menu li:hover {
background-color: black;
text-decoration:none!important;
}
.menu li:ACTIVE {
background-color: black;
	text-decoration: none;
}
.menu li:VISITED{
	text-decoration: none;
}

/*bMiddle 본문 부분*/
#bMiddle {
	height: 90%;
	width: 100%;
	background-color: gray;
}

#community{
	margin: auto;
	width: 400px;
	height : 300px;
	background-color: white;
	vertical-align: middle;
	text-align: center;
}

.sTop{
	background-color: green;
	height: 50px;
}

.sMiddle{
	background-color: blue;
	height: 250px;
}

#commuTable th, td {
	border:0.5px solid blue;
}

#bord{
	margin: auto;
	width: 400px;
	height : 300px;
	background-color: white;
	vertical-align: middle;
	text-align: center;

}
#bord div{
	float: left;
	width: 33%;
	padding:10px;
	border: 1px solid blue;

}

iframe {
	width:100%;
	height:100;
}
